---
import type { CommentConfig } from '@/types'
import Giscus from './comments/Giscus.astro'
import Disqus from './comments/Disqus.astro'
import Utterances from './comments/Utterances.astro'
import Twikoo from './comments/Twikoo.astro'

interface Props {
  config: CommentConfig
  url?: string
  title?: string
  id?: string
}

const { config, url, title, id } = Astro.props
---

<div class="mt-8">
  {
    config.giscus && (
      <Giscus
        config={config.giscus}
        url={url}
        title={title}
        id={id}
      />
    )
  }
  {config.disqus && <Disqus config={config.disqus} />}
  {config.utterances && <Utterances config={config.utterances} />}
  {config.twikoo && <Twikoo config={config.twikoo} />}
</div>
