---
import type { GiscusConfig } from '@/types'

type Props = GiscusConfig

const {
  repo,
  repoId,
  category,
  categoryId,
  mapping = 'pathname',
  reactionsEnabled = true,
  emitMetadata = false,
  inputPosition = 'top',
  lang = 'en',
  loading = 'lazy'
} = Astro.props
---

{
  repo && (
    <div class="giscus mt-10">
      <script
        src="https://giscus.app/client.js"
        data-repo={repo}
        data-repo-id={repoId}
        data-category={category}
        data-category-id={categoryId}
        data-mapping={mapping}
        data-reactions-enabled={reactionsEnabled.toString()}
        data-emit-metadata={emitMetadata.toString()}
        data-input-position={inputPosition}
        data-lang={lang}
        data-loading={loading}
        crossorigin="anonymous"
        async
      >
      </script>
    </div>
  )
}

<style>
  .giscus {
    width: 100%;
  }
</style>
